.output {
    color: lightgreen;
    background-color: black;
  }

.navbar{
    background-color: #249268  /*sample color*/
}

/* Navigation Menu */
nav {
    background-color: #ffffff;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
}

nav a:hover {
    color: black;
}

/* Links */
a {
    color: #00bb1f;
    text-decoration: none;
}

a:hover {
    color: #00bb1f;
    text-decoration: underline;
}

/* Buttons */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

.mosaic-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  /* 2 columns layout */
    gap: 10px;
    margin: 20px 0;
}

.mosaic-item {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.mosaic-item:hover {
    transform: scale(1.05);
}

.mosaic-item a {
    text-decoration: none;
    color: inherit;
}

.mosaic-item h3 {
    color: #4CAF50;
    font-size: 1.5rem;
}

.mosaic-item p {
    font-size: 1rem;
    color: #333;
}